@tailwind base;
@tailwind components;
@tailwind utilities;


.outlineSpace{
  min-height: calc(100vh - 60px) !important;
}

.swal-text{
font-weight: bold;
color: black;
}

.swal-button{
background-color: green;
}



.StripeElement {
  padding: 20px;
box-shadow: 0px 0px 2px grey;
  border: 1px solid rgb(82, 253, 125) !important;
}


.bg-one-one{
  background-image: url("https://i.ibb.co/WvF4psL/7.png");
  background-repeat: no-repeat;
  background-size: cover;


}
