@tailwind base;
@tailwind components;
@tailwind utilities;


.outlineSpace{
  min-height: calc(100vh - 60px) !important;
}

.swal-text{
font-weight: bold;
color: black;
}

.swal-button{
background-color: green;
}



.StripeElement {
  padding: 20px;
box-shadow: 0px 0px 2px grey;
  border: 1px solid rgb(82, 253, 125) !important;
}


.bg-one-one{
  background-image: url("https://i.ibb.co/WvF4psL/7.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-one-two{
  background-image: url("https://i.ibb.co/q0XsxnS/blue-pink-halftone-background-53876-99004.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-one-three{
  background-image: url("https://i.ibb.co/zFHmq8W/pexels-photo-7130498-jpeg-cs-srgb-dl-pexels-codioful-formerly-gradienta-7130498.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}





.swiper-button-next{
transform: scale(2,2);


color:rgb(0, 4, 255) !important

}
.swiper-button-prev{
transform: scale(2,2);


color:rgb(0, 4, 255) !important

}


.css-card-degisn{

  border-radius: 20px;
  transform: all 2s ease;
  box-shadow:
  0px 2px 5px rgb(252, 93, 252),   
  4px 0 5px rgb(250, 83, 175),     
  0 -4px 5px rgb(203, 92, 255),  
  -4px 0 5px rgb(59, 59, 248);
}

.bg-popular-class{
  background-image: url(https://images.pexels.com/photos/7130469/pexels-photo-7130469.jpeg?cs=srgb&dl=pexels-codioful-%28formerly-gradienta%29-7130469.jpg&fm=jpg);
  background-repeat: no-repeat;
  background-size: cover;
  
}

.perpective3d:nth-child(even){
  transition: all 0.2s ease;
}
.perpective3d:nth-child(even):hover{
  overflow: hidden;
  box-shadow:    
  10px 0 10px 5px rgb(247, 0, 235); 
 transform-origin: left left;
transform: perspective(1300px)
rotateY(-25deg)


 
}

.perpective3d:nth-child(odd){
  transition: all 0.3s ease;
}
.perpective3d:nth-child(odd):hover{
  overflow: hidden;
  box-shadow:    
  10px 0 10px 5px rgb(247, 0, 235); 
 transform-origin: left left;
transform: perspective(1500px)
rotateY(25deg)

}



.parent-instrucotr:nth-child(even){
margin-left:auto !important
}
.parent-instrucotr:nth-child(odd){
  margin-right:auto !important
}



@media screen and (max-width:800px) {
  .parent-instrucotr:nth-child(even){
    margin: 0 !important;
    }
  .parent-instrucotr:nth-child(ol=){
    margin: 0 !important;
    }
}